@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-style: normal;
}
:root {
  --dark: #263238;
  --primary: #aa003c;
  --secondary: #1e9dc4;
  --light: #e1f3ff;
  --dark-grey: #424242;
  --light-grey: #666666;
  --white: #ffffff;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  height: 100%;
}
/* header */
header {
  padding: 10px 0px;
  width: 100%;
  background: var(--white);
  position: sticky;
  top: 0;
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 180px;
}
header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .container nav ul {
  display: flex;
  gap: 30px;
}
header .container nav ul li a {
  font-size: 16px;
  color: var(--dark);
  font-weight: 500;
}
header .container .auth-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header .container .auth-btn .login-btn {
  padding: 4px 20px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid var(--primary);
}
header .container .auth-btn .signUp {
  padding: 5px 25px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid var(--primary);
}
header .container .auth-btn a:hover {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}
/* hero section */
.hero-page {
  background-image: url("images/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(90vh);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: calc(90vh);
  position: absolute;
  z-index: 10;
}
.hero-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  z-index: 100;
}
.hero-page .container h1 {
  font-size: 42px;
}
.hero-page .container p {
  font-size: 18px;
  padding-bottom: 15px;
}
.hero-page .container a {
  padding: 15px 25px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.hero-page .container a:hover {
  background-color: var(--white);
  color: var(--primary);
}
/* about section */
.about-us {
  padding: 60px 0px;
}
.about-us .container .top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}
.about-us .container .top-text h2 {
  color: var(--dark);
  font-size: 35px;
  font-weight: 500;
}
.about-us .container .top-text p {
  color: var(--light-grey);
  font-size: 19px;
}
.about-us .container .img-and-text {
  display: flex;
  gap: 20px;
  color: var(--dark);
  font-size: 17px;
  flex-wrap: wrap;
}
.about-us .container .img-and-text .about-image {
  width: 50%;
  flex: 1 1 300px;
}
.about-us .container .img-and-text .about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us .container .img-and-text .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  flex: 1 1 300px;
}
.about-us .container .img-and-text .text p span {
  font-weight: bold;
}
.about-us .container .img-and-text .text div p span {
  font-style: italic;
}
/* appointment step section */
.appointment-section {
  padding: 60px 0px;
  background-color: var(--light);
}
.appointment-section .container .top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.appointment-section .container .top-text h2 {
  color: var(--dark);
  font-weight: 500;
  font-size: 29px;
}
.appointment-section .container .top-text h2 span {
  font-weight: bold;
}
.appointment-section .container .top-text p {
  color: var(--light-grey);
  font-size: 19px;
}
.appointment-section .container .card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.appointment-section .container .card-container .card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: var(--white);
  border-radius: 8px;
  padding: 30px;
}
.appointment-section .container .card-container .card .icon {
  margin-bottom: 10px;
}
.appointment-section .container .card-container .card .icon-mid {
  margin: 30px 0px 30px 0;
}
.appointment-section .container .card-container .card .icon-mid h4,
.appointment-section .container .card-container .card .icon-mid p {
  margin-top: -30px;
}
.appointment-section .container .card-container .card h4 {
  color: var(--primary);
  font-size: 22px;
  font-weight: 500;
}
.appointment-section .container .card-container .card p {
  color: var(--light-grey);
  font-size: 15px;
}
.appointment-section .container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.appointment-section .container .btn .find-doctor-btn {
  padding: 12px 30px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
  border-radius: 30px;
  transition: all 0.3s ease;
  border: 1px solid var(--primary);
}
.appointment-section .container .btn .find-doctor-btn:hover {
  background-color: var(--white);
  color: var(--primary);
}
/* most contact doctors */
.doctors {
  padding: 60px 0px;
}
.doctors .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.doctors .container .top-text {
  text-align: center;
}
.doctors .container .top-text h2 {
  color: var(--dark);
  font-size: 39px;
  font-weight: 500;
}
.doctors .container .top-text P {
  color: var(--dark-grey);
  font-size: 20px;
}
.doctors .container .doctors-card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* margin-bottom: 50px; */
}
.doctors .container .doctors-card-container li {
  flex: 1 1 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.doctors .container .doctors-card-container li .doctor-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.doctors .container .doctors-card-container li .doctor-details {
  padding: 20px;
}
.doctors .container .doctors-card-container li .doctor-details .title {
  color: var(--dark-grey);
  font-weight: 400;
}
.doctors .container .doctors-card-container li .doctor-details .name {
  color: var(--dark);
  font-weight: 500;
  margin-bottom: 13px;
}
.doctors .container .doctors-card-container li .doctor-details p {
  color: var(--light-grey);
  font-size: 14px;
  margin-bottom: 13px;
}
.doctors .container .doctors-card-container li .doctor-details div {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #aa003c;
}
.doctors .container .doctors-card-container li .doctor-details div p {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1e9dc4;
}
.extra-space {
  /* padding: 12px; */
}
.doctors .container .doctors-card-container li .views-and-book-btn {
  border-top: 1px solid #8d8d8d56;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.doctors .container .doctors-card-container li .views-and-book-btn .views {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.doctors .container .doctors-card-container li .views-and-book-btn .views p {
  color: var(--light-grey);
  font-weight: bold;
  font-size: 13px;
}
.doctors
  .container
  .doctors-card-container
  li
  .views-and-book-btn
  .book-btn
  a:hover {
  background-color: var(--primary);
  color: var(--white);
}
.doctors .container .doctors-card-container li .views-and-book-btn .book-btn a {
  padding: 6px 8px;
  border: 2px solid var(--primary);
  border-radius: 20px;
  transition: all 0.3s ease;
  color: var(--primary);
  font-weight: 500;
  font-size: 13px;
}
.doctors .container .view-all-doctor-btn {
  padding: 10px 14px;
  margin-top: 15px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s ease;
  border-radius: 30px;
  border: 1px solid var(--primary);
}
.doctors .container .view-all-doctor-btn:hover {
  background-color: var(--white);
  color: var(--primary);
}
